AWS_PROFILE=
AWS_REGION=
AWS_ACCOUNT_ID=
ECR_REPO=
LOCAL_IMAGE=

# OpenAI
OPENAI_API_KEY=
OPENAI_MODEL=

# WhatsApp
WHATSAPP_VERIFY_TOKEN=
WHATSAPP_TOKEN=
WHATSAPP_PHONE_ID=

# TuKiosko
TUKIOSCO_BASE_URL=
TUKIOSCO_EMAIL=
TUKIOSCO_PASSWORD=

# Meta
ENV=local

